*.pyc
*.sqlite3
*~
*.egg-info/
/docker-compose.yml
/.idea/
/redis/
/db/data/
/letsencrypt/
.env
.vuln.env
.venv
venv
media/
.backups/
.envrc
.terraform.lock.hcl
.terraform/
.nox/
__pycache__
app/src/celerybeat-schedule.db
/app/src/.coverage*
/app/src/coverage.xml
logs/
.gitdo/
.DS_Store
.dagster/
app/src/.dagster/
.env.history
.env.live
.worktrees/
db_access_certs/*
docs/superpowers/
webhooks.csv
webhooks.sql
.claude
